body {
    margin: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

h1 {
    color: black;
}

span {
    color: black;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.investtools {
    margin: 0;
}